@charset "UTF-8";


body {
	font-family : Garamond, "Times Roman", serif;
	background-color: #232323;;
	color: #999;
}

#nav {
	list-style:none;
	background-color: #300;
	list-style:none;
	text-align:center;
	padding:5px;
}

#nav a {
	list-style:none;
	color:#FFF;
	border-left:2px solid #999;
	padding-right:20px;
	padding-left:20px;	
}

#nav li{
	display:inline;
	list-style:none;
}

#firstnav a{
	border-left:none;
}

#nav a:hover{
	font-weight: bold;
	color: rgb(153,0,153);
	text-decoration: none;
}

.One{
  background-image: url('../images/IMG_00000983.jpg');
}
.Two{
  background-image: url('../images/IMG_00000984.jpg') ;
}
 
h1, h2, h3 {
  font-family : Verdana, Arial, Helvetice, sans-serif;
}

h1 {
	text-align: center; 
	color: rgb(155,125,1120);
}

h2 {
	padding: 7px;
	color: rgb(238,128,0);
}

h3 {
	color: rgb(128,0,0);
	
}
h4 {
	color: #903;
	font-family:  Garamond, "Times Roman", serif;
	font-weight: lighter;
	text-decoration: blink;
	font-style: italic;
}
img {
	border-color: #039;
	border-style: solid;
	border-width: 5px;
}
a {
	font-weight: bold;
	color: rgb(0,102,102);
}
acronym {
	border-bottom: 1px dashed rgb(50,12,51);
}
a:link {
	color: rgb(15,110,53);
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: rgb(53,200,13);
	text-decoration: overline;
	font-weight: lighter;
}

a:hover {
	font-weight: bold;
	color: rgb(153,0,153);
	text-decoration: underline;
}


a:active {
	color: rgb(153,153,0);
	text-decoration: none;
}

@media (max-width: 500px) {
	h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
    }
	h2 {
	    font-size: 20px;
	    margin: 20px 0 30px 0;
	}
	div {
		margin: 20px 12px 0 12px;
	}
	p {
		font-size: 20px;
		line-height: 24px;
	}
	small {
		font-size: 16px;
	}
  }